{% extends 'base.html' %} {% block content %}

<ul class="list-unstyled d-flex"></ul>

<div class="w-100 d-flex justify-content-center">
	<div class="card shadow-lg w-50">
		<img class="card-img-top" src="holder.js/100x180/" alt="" />
		<div class="card-body">
			<h4 class="card-title">
				<img
					src="https://www.google.com/s2/favicons?domain={{doc.url}}"
					width="20px"
				/>
				{{doc.name}}
			</h4>
			<a target="_blank" href="{{doc.url}}">{{doc.url}}</a>
			<p class="card-text">{{doc.description}}</p>
			<a class="btn-primary btn" href="{% url 'doc_update' doc.id %}">Edit</a>
			<a class="btn-primary btn" href="{% url 'doc_delete' doc.id %}">Delete</a>
		</div>
	</div>
</div>
{% endblock content %}
