{% extends 'base.html' %} {% block content %}

<div class="d-flex flex-wrap justify-content-center w-100">
	{% for doc in docs %}
	<a class="text-decoration-none text-black" href="{% url 'detail' doc.id%}">
		<div class="card m-2 shadow-sm" style="width: 15rem">
			<div class="card-body">
				<h4 class="card-title">
					<img
						src="https://www.google.com/s2/favicons?domain={{doc.url}}"
						width="20px"
					/>
					{{doc.name}}
				</h4>
				<p class="card-text">{{doc.description}}</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>

{% endblock content %}
